{% extends 'base.html' %}

<!-- About Content -->
{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us...</h1>
      <p class="lead fw-normal text-white-50 mb-0">Welcome to NovaMart</p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <br /><br />
        <p align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a urna
          vel dolor dignissim convallis. Curabitur eget sapien ac diam sagittis
          lobortis at et est. Cras aliquet semper est, ac maximus lacus
          porttitor quis. Maecenas ut arcu ex. Cras cursus aliquam eleifend.
          Vivamus interdum molestie erat, convallis tincidunt eros suscipit sit
          amet. Sed pretium, metus at blandit aliquam, justo massa interdum
          ligula, nec ultricies ipsum elit eu magna. Maecenas vel urna at mi
          luctus tristique eu tristique risus. Mauris sed ipsum sed erat
          ultrices consectetur. Ut hendrerit, tellus vel venenatis imperdiet,
          magna ante rutrum augue, id bibendum odio ipsum semper lorem. Vivamus
          nec nibh sit amet turpis tempus blandit. Aenean facilisis felis dictum
          felis auctor rhoncus. Nunc tempus porttitor mi, vitae dictum tortor
          sagittis tempus. Phasellus in magna elit. Sed mattis justo rutrum
          libero vulputate, rutrum fringilla purus blandit. Etiam fringilla
          sodales pharetra.
          <br /><br />
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia curae; Pellentesque elementum urna vel fermentum
          elementum. Proin a lorem a massa volutpat rutrum. Pellentesque
          porttitor luctus nisl, sed volutpat ligula viverra ac. Aliquam
          scelerisque at magna vitae elementum. In diam massa, pellentesque sed
          lacus vitae, consectetur vulputate orci. Donec sit amet lacus non
          tellus vulputate sollicitudin. Praesent at orci faucibus, mattis eros
          ac, maximus libero. In sodales diam eget eros pulvinar dictum. Morbi
          faucibus ante et metus interdum pulvinar. Ut turpis ante, finibus eget
          semper in, iaculis vehicula elit. Aliquam vitae eleifend felis. Ut
          mollis quis neque at tincidunt. Quisque dui urna, hendrerit sit amet
          enim vel, bibendum vulputate felis. Praesent consequat, odio vitae
          finibus rhoncus, ligula est viverra dolor, in consectetur sem tellus
          in lectus. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Aliquam consequat massa a nulla
          aliquet viverra. Duis sapien erat, mattis eget vehicula a, lacinia
          gravida sapien. Nam porttitor fringilla tortor ut malesuada. Etiam et
          convallis sem. Quisque vel dui in sapien iaculis volutpat. Etiam ut
          purus auctor risus posuere cursus nec vitae tortor. Duis fermentum
          sapien sed lorem tempor, nec hendrerit sem consequat. Donec cursus,
          sem non fringilla semper, erat lacus volutpat sem, ut suscipit mauris
          lacus eu sapien.
          <br /><br />
          In ullamcorper blandit feugiat. Pellentesque habitant morbi tristique
          senectus et netus et malesuada fames ac turpis egestas. Vestibulum
          ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          curae; Proin laoreet, quam sit amet iaculis maximus, lectus nunc
          tincidunt massa, at molestie augue odio vitae orci. Aenean at odio ut
          leo vulputate ultrices. Nam aliquam gravida justo et dapibus.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Nulla a leo sit amet risus rutrum interdum ac
          tempor eros. Nam non felis non magna vulputate interdum quis quis
          metus. Nam consequat justo justo, ut ornare metus consequat sit amet.
          Nam nisi purus, blandit nec bibendum ut, imperdiet id nisi. Quisque
          sodales massa quis volutpat dictum. Aliquam diam risus, eleifend sed
          nisl quis, rhoncus scelerisque purus. Nullam felis felis, pulvinar eu
          scelerisque vel, ornare in tortor.
        </p>
        <br /><br />
      </div>
    </center>
  </div>
</div>
{% endblock %}
